<!doctype HTML>
<html>
  <head><title>Movie Add</title></head>
  <body>
     <form action="/movie_add" method="POST">
     <h2>Enter new movie data:</h2>
	  <p>
		<label>Title: <input type="text" name="title" value=""/></label>
	  </p>
	  <p>
		<label>Year: <input type="text" name="year" value=""/></label>
	  </p>
	  <p>
		<label>IMDB: <input type="text" name="imdb" value=""/></label>
	  </p>
        <input type="submit" value="Submit"/>
     </form>
     <div id="bug_list"></div>
  </body>
</html>
